
{% extends "app_crud/base_activity.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form.activity_name |as_crispy_field}}
    {{form.activity_description |as_crispy_field}}
    {{form.activity_date_created |as_crispy_field}}
    {{form.activity_date_end |as_crispy_field}}
    {{form.hours |as_crispy_field}}
    {{form.status | as_crispy_field}}
    {{form.person | as_crispy_field}}
    {{form.urgency |as_crispy_field}}
    {{form.category |as_crispy_field}}
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-plus"></i>
                Añadir</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'activity_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-list-ul"></i> Ver Actividades
            </a>
            
        </div>
    </div>           
</form>
{% endblock content %}